<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <insert id="create" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO examination.user VALUES (NULL, #{username}, #{password}, #{truename}, #{team}, #{role})
    </insert>
    <select id="login" parameterType="user" resultType="user">
        SELECT *
        FROM examination.user
        WHERE username = #{username} AND password = #{password}
    </select>

    <resultMap id="employee_records_map" type="user">
        <id property="id" column="id"/>
        <result property="truename" column="truename"/>
        <collection property="records" ofType="record">
            <id property="id" column="record_id"/>
            <result property="date" column="date"/>
            <result property="content" column="content"/>
        </collection>
    </resultMap>
    <select id="employee_records" parameterType="user" resultMap="employee_records_map">
        SELECT
            u.id,
            u.truename,
            r.id AS record_id,
            r.date,
            r.content
        FROM examination.user u INNER JOIN examination.record r
                ON r.userId = u.id
        WHERE u.id = #{id}
    </select>

    <select id="team_records" parameterType="user" resultMap="employee_records_map">
        SELECT
        u.truename,
        r.date,
        r.content
        FROM examination.user u INNER JOIN examination.record r
        ON r.userId = u.id
        WHERE u.team = #{team}
    </select>
</mapper>