<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <insert id="create" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO examination.user VALUES (NULL, #{username}, #{password}, 'user')
    </insert>
    <select id="login" parameterType="user" resultType="user">
        SELECT *
        FROM examination.user
        WHERE username = #{username} AND password = #{password}
    </select>
    <select id="list" resultType="user">
        SELECT *
        FROM examination.user
        WHERE role = 'user'
    </select>

    <resultMap id="user_infos_map" type="user">
        <result property="username" column="username"/>
        <collection property="infos" ofType="info">
            <id property="id" column="id"/>
            <result property="date" column="date"/>
            <result property="baoxian" column="baoxian"/>
            <result property="gongjijin" column="gongjijin"/>
        </collection>
    </resultMap>
    <select id="user_infos" resultMap="user_infos_map">
        SELECT
            u.username,
            i.id,
            i.date,
            i.baoxian,
            i.gongjijin
        FROM examination.user u INNER JOIN examination.info i
                ON u.id = i.userId
    </select>
    <select id="single_user_infos" parameterType="user" resultMap="user_infos_map">
        SELECT
            u.username,
            i.date,
            i.baoxian,
            i.gongjijin
        FROM examination.user u INNER JOIN examination.info i
                ON u.id = i.userId
        WHERE u.id = #{id}
    </select>
    <select id="query_by_date" parameterType="hashmap" resultMap="user_infos_map">
        SELECT
            u.username,
            i.date,
            i.baoxian,
            i.gongjijin
        FROM examination.user u INNER JOIN examination.info i
                ON u.id = i.userId
        WHERE u.id = #{id} AND (i.date BETWEEN #{min} AND #{max})
    </select>
    <select id="query_by_name_and_date" parameterType="hashmap" resultMap="user_infos_map">
        SELECT
            u.username,
            i.id,
            i.date,
            i.baoxian,
            i.gongjijin
        FROM examination.user u INNER JOIN examination.info i
                ON u.id = i.userId
        WHERE u.username = #{username} AND (i.date BETWEEN #{min} AND #{max})
    </select>
</mapper>